body {
  background-color: rgba(152, 86, 86, 0.8);
  color: red;
}
#login {
  width: 400px;
  height: 100%;
  margin-top: 10%;
  margin-left: 25%;
  text-align: center;
  border-style: solid;
  border-color: #580f0f;
  border-width: 5px;
}
#login form {
  width: 100%;
  height: 150px;
  padding-top: 80px;
  background-color: #dfb5a3;
  color: #580f0f;
  font-size: 20px;
  font-weight: bold;
}
#login #password {
  padding-top: 20px;
}
